.billingContainer{
    width: 100%;
    display: flex;
    background: #01080C;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-around;
    position: relative;
    isolation: isolate;
    
}

.rightContainer{
    max-width: 21rem;
}
.title{
    font-size: 2.3rem;
}
.description{
    font-size: 13px;
}
.appstoresContainer{
    display: flex;
}

.radialGradientContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(ellipse at -131% 93%, #3e3b4e 21%, #01080C 66%);
}

@media screen and (max-width:760px) {
    .billingContainer{
        flex-wrap: wrap;
        padding-bottom:1rem;
    }
    .leftImageContainer{
        margin: 0 1.5rem;
    }
}